<h1>Create an Article</h1>

<form action="/articles" method="post">
<label for="title">Name: </label>
<input type="text" id="title" name="title">
<br>
<label for="content">Content: </label>
<input type="textbox" id="content" name="content">

<input type="submit" value="submit">
</form>